.main__playlist-content{
    height: 68vh;
    padding-top: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: var(--cinza-escuro);
    
}

.main__playlist-content #result-playlist .playlist{
    margin: 24px;
}

.playlist #greeting, .greeting-subtitle{
    color: #fff;
}

.playlist #greeting{
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 35px;
}

.playlist .greeting-subtitle{
    font-size: 24px;
    font-weight: 700;
}